<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout (Header & Footer)</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body dir="rtl" class="layout-page disable-selection">
    <div class="header">
      <img
        class="header_logo"
        src="../../assets/images/logo--1Edited.png"
        alt="main logo"
      />
    </div>

    <!-- navigaion bar shouldn't be hide after scroll (needs some edits) -->
    <div class="navbar">
      <ul class="navbar_ul">
        <li class="temp-select" id="navbar_ul_li1"><a href="#">منو یک</a></li>
        <li id="navbar_ul_li2"><a href="#">منو دو</a></li>
        <li id="navbar_ul_li3"><a href="#">منو سه</a></li>
      </ul>
    </div>

    <div class="footer"></div>

    <script src="../../assets/scripts/header.js"></script>
  </body>
</html>
