@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-Bold.woff2') format('woff2'),
        url('../fontfamily/Morabba-Bold.woff') format('woff'),
        url('../fontfamily/Morabba-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-Black.woff2') format('woff2'),
        url('../fontfamily/Morabba-Black.woff') format('woff'),
        url('../fontfamily/Morabba-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-ExtraBold.woff2') format('woff2'),
        url('../fontfamily/Morabba-ExtraBold.woff') format('woff'),
        url('../fontfamily/Morabba-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-Heavy.woff2') format('woff2'),
        url('../fontfamily/Morabba-Heavy.woff') format('woff'),
        url('../fontfamily/Morabba-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-Medium.woff2') format('woff2'),
        url('../fontfamily/Morabba-Medium.woff') format('woff'),
        url('../fontfamily/Morabba-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-Light.woff2') format('woff2'),
        url('../fontfamily/Morabba-Light.woff') format('woff'),
        url('../fontfamily/Morabba-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-SemiBold.woff2') format('woff2'),
        url('../fontfamily/Morabba-SemiBold.woff') format('woff'),
        url('../fontfamily/Morabba-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-Regular.woff2') format('woff2'),
        url('../fontfamily/Morabba-Regular.woff') format('woff'),
        url('../fontfamily/Morabba-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morabba';
    src: url('../fontfamily/Morabba-UltraLight.woff2') format('woff2'),
        url('../fontfamily/Morabba-UltraLight.woff') format('woff'),
        url('../fontfamily/Morabba-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

