 /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@import url(_fontFamily.scss);

*::after, *::before{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: iranyekan !important;
}
html {
    font-size:62.5%; // 10px => 1rem
    @include phone-sm{
        font-size:50%;
    }
  }
  
  body {
    font-family: iranyekan  !important;
  }
  
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  ul li {
    margin:0;
    padding:0;
  }
  
  ol {
    margin:0;
    padding:0;
  }
  p {
    padding:0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    padding:0;
    font-weight: normal;
  }
  
  fieldset {
    border:none;
    margin:0;
    padding:0;
  }
  
  button {
    cursor:pointer;
  }
  