$app--color: #006a6d;
$gray--color: #b5c2b7;
$Purple--color: #655a7c;
$orange--color--dark: #ba5a31;
$black--color--1: #0d0a0b;
$black--color--2: #222;
$white--color: #fff;

// your color's
//OTP Customer Enter Number
$light--green: #00cc6d;
$darker-gray--color: #8b918e;
// for header-navbar:
