@charset "UTF-8";
/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@import url(_fontFamily.scss);
*::after, *::before {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: iranyekan !important; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  font-family: iranyekan  !important; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebbold.eot");
  src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/woff2/iranyekanwebbold.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthin.eot");
  src: url("../fonts/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebthin.woff") format("woff"), url("../fonts/woff2/iranyekanwebthin.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebthin.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblight.eot");
  src: url("../fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblight.woff") format("woff"), url("../fonts/woff2/iranyekanweblight.woff2") format("woff2"), url("../fonts/ttf/iranyekanweblight.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregular.eot");
  src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/woff2/iranyekanwebregular.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmedium.eot");
  src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebmedium.woff") format("woff"), url("../fonts/woff2/iranyekanwebmedium.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextrabold.eot");
  src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"), url("../fonts/woff2/iranyekanwebextrabold.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/eot/iranyekanwebblack.eot");
  src: url("../fonts/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebblack.woff") format("woff"), url("../fonts/woff2/iranyekanwebblack.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebextrablack.eot");
  src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"), url("../fonts/woff2/iranyekanwebextrablack.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype"); }

.layout-page {
  margin: 0;
  padding: 0;
  background-color: #e2dfdf;
  overflow: hidden; }

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: 0px 30px 19px -2px rgba(87, 84, 84, 0.31); }

.header_logo {
  margin-right: 10px;
  max-width: 40px;
  height: auto; }

.navbar {
  width: 100%;
  height: 32px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.navbar_ul {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: black; }

.navbar_ul li {
  padding-top: 5px;
  width: 100%; }

.navbar_ul li a {
  text-decoration: none; }

.navbar_ul li a:hover,
.navbar_ul li a:focus,
.navbar_ul li a:active,
.navbar_ul li a:visited {
  color: inherit; }

.navbar_ul li:hover {
  cursor: pointer; }

.temp-select {
  border-bottom-width: 2px;
  border-bottom-color: green;
  border-bottom-style: solid; }

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.801);
  box-shadow: 0px 3px 24px 21px rgba(255, 255, 255, 0.664); }

.button {
  max-width: 100%;
  border: none;
  color: #fff;
  padding: 2.1rem 5.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.8rem; }

.buttontext {
  background-color: #006a6d;
  color: #fff; }

.buttontext:hover {
  background-color: #b5c2b7;
  color: #fff; }

.button2 {
  max-width: 100%;
  color: #fff;
  padding: 1.8rem 5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.8rem;
  border: 0.3rem solid #006a6d; }

.buttontext2 {
  background-color: #fff;
  color: #222; }

.buttontext2:hover {
  background-color: #006a6d;
  color: #fff; }

input {
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d9d9d9;
  outline: none;
  line-height: 2rem; }

.wrapper {
  box-shadow: 0 0.6rem 2rem -0.5rem rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  left: 50%;
  top: 40%; }

.label {
  font-size: 2.8rem;
  position: absolute;
  top: 50%;
  right: 0.1rem;
  transform: translateY(-50%);
  line-height: 2rem;
  padding-right: 0.7rem;
  color: #80868b;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 778px) {
    .label {
      font-size: 1.8rem; } }

.label-old {
  position: absolute;
  top: 0;
  left: 1rem;
  background: #fff;
  transform: translateY(-50%);
  line-height: 2rem;
  padding-left: 5rem;
  color: #006a6d; }

.bar {
  position: absolute;
  left: 50%;
  bottom: 0;
  background: #006a6d;
  width: 0%;
  height: 0.2rem;
  transition: all 0.5s ease-in-out; }

input:focus ~ .bar {
  width: 100%;
  left: 0; }

input:focus + .label {
  position: absolute;
  top: 0;
  right: 1rem;
  background: #fff;
  transform: translateY(-50%);
  line-height: 2rem;
  padding-right: 0.5rem;
  color: #006a6d; }

.toggle {
  margin: 3rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between; }

.toggle-switch {
  display: inline-block;
  background: #b5c2b7;
  border-radius: 1.5rem;
  width: 5.8rem;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s; }

.toggle-switch:before, .toggle-switch:after {
  content: ""; }

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  transition: right 0.25s; }

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5); }

.toggle-checkbox:checked + .toggle-switch {
  background: #006a6d; }

.toggle-checkbox:checked + .toggle-switch:before {
  right: 3rem; }

.toggle-checkbox {
  position: absolute;
  visibility: hidden; }

.toggle-label {
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem; }
