@charset "UTF-8";
/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
@import url(_fontFamily.scss);
*::after, *::before {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: iranyekan !important; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 50%; } }

body {
  font-family: iranyekan  !important; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebbold.eot");
  src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/woff2/iranyekanwebbold.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/eot/iranyekanwebthin.eot");
  src: url("../fonts/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebthin.woff") format("woff"), url("../fonts/woff2/iranyekanwebthin.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebthin.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblight.eot");
  src: url("../fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblight.woff") format("woff"), url("../fonts/woff2/iranyekanweblight.woff2") format("woff2"), url("../fonts/ttf/iranyekanweblight.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregular.eot");
  src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/woff2/iranyekanwebregular.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmedium.eot");
  src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebmedium.woff") format("woff"), url("../fonts/woff2/iranyekanwebmedium.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextrabold.eot");
  src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"), url("../fonts/woff2/iranyekanwebextrabold.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("../fonts/eot/iranyekanwebblack.eot");
  src: url("../fonts/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebblack.woff") format("woff"), url("../fonts/woff2/iranyekanwebblack.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebextrablack.eot");
  src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"), url("../fonts/woff2/iranyekanwebextrablack.woff2") format("woff2"), url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype"); }

.layout-page {
  margin: 0;
  padding: 0;
  background-color: #e2dfdf;
  overflow: hidden; }

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: 0px 30px 19px -2px rgba(87, 84, 84, 0.31); }

.header_logo {
  margin-right: 10px;
  max-width: 40px;
  height: auto; }

.navbar {
  width: 100%;
  height: 32px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.navbar_ul {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: black; }

.navbar_ul li {
  padding-top: 5px;
  width: 100%; }

.navbar_ul li a {
  text-decoration: none; }

.navbar_ul li a:hover,
.navbar_ul li a:focus,
.navbar_ul li a:active,
.navbar_ul li a:visited {
  color: inherit; }

.navbar_ul li:hover {
  cursor: pointer; }

.temp-select {
  border-bottom-width: 2px;
  border-bottom-color: green;
  border-bottom-style: solid; }

.footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.801);
  box-shadow: 0px 3px 24px 21px rgba(255, 255, 255, 0.664); }

.toast {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  border-radius: 1.2rem;
  background: #fff;
  padding: 2rem 2.5rem 2rem 10.9rem;
  box-shadow: 0 0.6rem 2rem -0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 3rem));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35); }

.toast.active {
  transform: translateX(0%); }

.toast .toast-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  min-width: 3.5rem;
  background-color: #006a6d;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%; }

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%; }

.message .text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666666;
  direction: rtl; }

.message .text.text-1 {
  font-weight: 600;
  color: #333; }

.toast .close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0.7; }

.toast .close:hover {
  opacity: 1; }

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 100%; }

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #006a6d; }

.progress.active:before {
  animation: progress 5s linear forwards; }

@keyframes progress {
  100% {
    right: 100%; } }

button {
  padding: 1.2rem 2rem;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: #006a6d;
  color: #fff;
  border-radius: 0.9rem;
  cursor: pointer;
  transition: 0.3s; }

button:hover {
  background-color: #b5c2b7; }

.toast.active ~ button {
  pointer-events: none; }

body {
  font-family: Roboto, sans-serif; }

header {
  padding: 24px; }

.wrap {
  max-width: 640px;
  margin: 0 auto; }

ul.menu {
  list-style: none;
  padding: 0;
  margin: 0; }

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: all 950ms cubic-bezier(0.32, 1, 0.23, 1) 0ms; }
  .overlay .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #b5c2b7;
    padding: 8px 24px 16px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.22), 0px 14px 56px rgba(0, 0, 0, 0.25);
    transform: translate(0, 100%);
    transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 100ms;
    height: 40rem;
    border-radius: 2.5rem 2.5rem 0 0; }
  .overlay .btn-close {
    color: #ba5a31;
    transform: scale(0, 0);
    transition: all 450ms ease-in-out 0;
    font-size: 3rem; }
  .overlay:target {
    display: block;
    position: fixed;
    top: 0;
    opacity: 1; }
    .overlay:target .social {
      transform: translate(0, 0);
      z-index: 9; }
    .overlay:target .btn-close {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      outline: 0 none;
      transform: scale(1, 1); }

@media screen and (min-width: 640px) {
  .overlay {
    padding: 0 24px; }
    .overlay .social {
      width: calc(100% - 48px); }
      .overlay .social ul {
        column-gap: 64px; } }

.mdi::before {
  font-size: 24px;
  line-height: 48px; }

.social .mdi::before {
  font-size: 48px; }

.sr-only {
  /* a generic way to visually hide content while remaining accessible to screen readers (h5bp.com) */
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }

.modal--iner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card-container {
  height: 13rem; }

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row-reverse;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 800px; }

.card-preview {
  color: #fff;
  padding: 30px;
  max-width: 250px; }

.card-info {
  direction: rtl;
  font-size: 1.9rem;
  padding: 30px;
  position: relative;
  width: 100%; }
  .card-info--text {
    display: flex;
    flex-direction: column; }

.imgg {
  width: 150px;
  height: 150px;
  border-radius: 10px; }
