<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.3.41/css/materialdesignicons.min.css">
</head>
<body>
    <header>

            <button id="test">
                تست
            </button>
    </header>
<main>

</main>
<footer>

</footer>
<div id="bottom-sheet" tabindex="-1" class="overlay">
        <aside class="social" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
                   <div class="modal--iner">
                    <h1>تستتت</h1>
                    <p>تست است تست است تست است تانتمانممذ تذاالارما اررالامذامذ ارارمارر اذالمعملعملم ارر  </p>
                   </div>
        </aside>
<a href="#" class="btn-close" aria-hidden="true"><span class="mdi mdi-close"></span><span class="sr-only">Close</span></a>
</div>
<script src="./app.js"></script>
</body>
</html>