//TODO: need to add some animations to the menu, to pop up.

.enternum-body {
  background-color: $light--green;
  overflow: hidden;
  padding-right: 0;
  margin-right: 0;
}

.center-logo-containor {
  display: grid;
  place-items: center;
  min-height: 70vh;
}

.center-logo {
  background-color: inherit;
  width: 6.3%;
  height: auto;
}

.center-logo_img {
  max-width: 150px;
  height: 150px;
}

.number-panel {
  width: 100%;
  height: 35%;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 10px;
}

.disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.number-welcome-text {
  font-weight: 700;
  font-size: 20px;
  font-family: iranyekan500;
}

.number-panel_content-container {
  // width: 100%;
  height: 85%;
  margin: 36px 25px 0 25px;

  // background-color: gray;
}

.number-des {
  margin-top: 33px;
  font-size: 16px;
  font-family: iranyekan100;
  font-weight: 600;
  // color: $darker-gray--color;
  color: black;
}

.number-panel_input-field {
  margin-top: 37px;
}

.num-label {
  font-size: 16px;
  font-family: iranyekan500;
  font-weight: 600;
}

.number-panel_phone-input {
  border: none;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.158);
  border-bottom-style: solid;
  outline: none;
  width: 99.2%;
  margin-top: 15px;
  height: 49px;
  font-size: 16px;
  font-family: iranyekan100;
  font-weight: -100;
  padding-right: 13px;
  // font-weight: 800;
  background: url(/assets/images/green-dot.png) no-repeat scroll 7px 23px;
  background-size: 9px;

  &::placeholder {
    font-family: iranyekan300;
  }

  &:focus::placeholder:active {
    color: transparent;
  }

  &:focus {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    width: 99.2%;
    // padding-right: 16px;
  }
}

// .number-panel_doticon {
//   width: 9px;
//   height: auto;
//   float: left;

//   margin-left: 0.7rem;
//   // margin-top: -20px;
//   // position: absolute;
//   // right: 188rem;
//   // bottom: 12.6rem;
// }

.number-panel_submit {
  width: 6%;
  height: 43px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #00cc6d;
  color: white;
  font-family: iranyekan800;
  float: left;
  margin-top: 20pt;
  &:active {
    background-color: #07b864;
  }
}

//Classes For JS :
//TODO: add some animations
.fullscreen_numpanel {
  width: 100%;
  height: 100%;
}
