// @font-face {
//   font-family: iranyekanwebblack;
//   src: url("/assets/sass/fonts/ttf/IRANYekanWebBlack.ttf");
// }

.enternum-body {
  background-color: $light--green;
  overflow: hidden;
  padding-right: 0;
  margin-right: 0;
}

.center-logo-containor {
  display: grid;
  place-items: center;
  min-height: 90vh;
}

.center-logo {
  background-color: inherit;
  width: 6.3%;
  height: auto;
}

.center-logo_img {
  max-width: 180px;
  height: 180px;
}

.number-panel {
  width: 100%;
  height: 30%;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 10px;
}

.disable-selection {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.number-welcome-text {
  font-weight: bolder;
  font-size: 24px;
  // font-family: iranyekan1;
}

.number-panel_content-container {
  // width: 100%;
  height: 85%;
  margin: 10px 25px 0 25px;

  // background-color: gray;
}
