<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
<div class="toast active">
  
    <div class="toast-content3">
      <i class="fa fa-exclamation-triangle danger" aria-hidden="true"></i>
  
      <div class="message">
        <span class="text text-1">خطر</span>
        <span class="text text-2">این یک خطر است</span>
      </div>
    </div>
    <i class="fa-solid fa-xmark close"></i>
  
    <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
    <div class="progress3 active"></div>
  </div>
  
  <button class="btn3">تست آلرت</button>
  
  <script src="./app.js"></script>
</body>
</html>